[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DIDmultiplegt"]
	path = DIDmultiplegt
	url = https://github.com/cran/DIDmultiplegt
[submodule "TwoWayFEWeights"]
	path = TwoWayFEWeights
	url = https://github.com/shuo-zhang-ucsb/twowayfeweights
